*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;    
    background-image: url(images/VolFuego1.jpeg);
    }

html{
    font-size: 16px;
    @media screen and (max-width: 540px){
        font-size: 12px;
        
    }
        
    }


.container{
    max-width: 800px;
    width: 100%;
    height: 600px;  
    margin: 0 auto;
    margin-top: 80px;
   

    .titulo{
        font-size: 2rem;
    }
    .parrafo{
        font-size: 2rem;
    }

}


h1{
    
    color: rgb(243, 238, 238);  
    text-align: center;
    
}

h2{
    color: rgb(66, 66, 248);
    font-style: arial;
    font-size: 1.8rem;
    text-align: center;
   
    
}

h3{
   
    color: aliceblue;
    text-align: center;
}

p{
    color:rgb(83, 255, 80);
    font-style: impact;
    font-size: 2rem;
    margin-top: 345px;
    text-align: center;

} 
